@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 92%;
        --tertiary: 0 0% 85%;
        --foreground: 0 0% 20%;
        --muted: 50 12% 20%;
        --muted-foreground: 0 0% 45.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --border: 0 0% 89.8%;
        --input: 0 0% 65%;
        --primary: 51 13% 30%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 77%;
        --secondary-foreground: 0 0% 9%;
        --accent: 40 91% 55%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 60 16% 4%;
        --tertiary: 50 12% 20%;
        --foreground: 45 13% 94%;
        --muted: 50 12% 20%;
        --muted-foreground: 0 0% 45.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --border: 0 0% 89.8%;
        --input: 50 12% 20%;
        --primary: 51 13% 70%;
        --primary-foreground: 0 0% 98%;
        --secondary: 60 8% 15%;
        --secondary-foreground: 0 0% 9%;
        --accent: 40 91% 55%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #282828;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #343127;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #3b372b;
    }
}
